$color-primary: #f26525;
$color-primary-lighter: #ff7f45;
$color-primary-darker: #d6561d;

$color-secondary-primary: #008ccf;
$color-secondary-lighter: #00a6f5;
$color-secondary-darker: #0072a9;

$color-info-primary: #e5f7ff;
$color-info-lighter: #f4fbfe;
$color-info-darker: #d7e9f0;

$color-warning-primary: #f3e21d;
$color-warning-lighter: #fff043;
$color-warning-darker: #dccc1a;

$color-positive-primary: #049372;
$color-positive-lighter: #1e824c;
$color-positive-darker: #228b22;

$color-negative-primary: #f3251d;
$color-negative-lighter: #ff3b33;
$color-negative-darker: #da221b;

$color-primary-gray: #555761;
$color-secondary-gray: #757886;

$color-icon-light-gray: #e0e6ed;
$color-icon-darker-gray: #d4dce6;
$color-icon-extra-darker-gray: #757885;

$color-background-off-white: #f9fafc;
$color-background-darker: #f0f2f7;
$color-background-extra-dark: #e5e9f2;

$color-success: #cae5c9;
$color-danger: #fce5e5;
$color-white-default: #ffffff;

$color-blue-active: #31b0d5;

//FONT
$font-xs: 1rem;
$font-xs-sp: 1.5rem;

$font-s: 1.2rem;
$font-s-sp: 1.6rem;

$font-m: 1.4rem;
$font-m-sp: 2rem;

$font-l: 1.6rem;
$font-l-sp: 2.2rem;

$font-xl: 2rem;
$font-xl-sp: 2.7rem;

$font-xxl: 2.2rem;
$font-xxl-sp: 3rem;

$font-xxxl: 3.6rem;
$font-xxxl-sp: 4.7rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

//DISTANCES
$ds-xxs: 0.3rem;
$ds-xs: 0.6rem;
$ds-s: 0.9rem;
$ds-m: 1.2rem;
$ds-l: 1.5rem;
$ds-xl: 1.8rem;
$ds-xxl: 2.1rem;

//SHADOW
$std-shadow: 0 4px 4px rgba(204, 204, 204, 0.5);
$std-sub-hover-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
$stg-sub-active-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.5),
  inset 0 4px 4px 0 rgba(0, 0, 0, 0.5);
$std-shadow-light: 0 1px 4px 0 rgba(147, 147, 147, 0.5);

//MISC
$std-padding-side: 1.5rem 1rem;
$std-margin-container: 1.5rem auto;

//BORDERRADIUS
$std-border-radius: .4rem;
$std-border-radius-xl: 1.6rem;

//BORDER
$std-border: 1px solid #D4DCE6;
$std-border-dark: 1px solid #9B9B9B;